@model IEnumerable<MusicStoreData.Models.Store.ProductType>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Product Related</h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1"
                   href="#carouselExampleIndicators2"
                   role="button"
                   data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3"
                   href="#carouselExampleIndicators2"
                   role="button"
                   data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2"
                     class="carousel slide"
                     data-ride="carousel">

                    <div class="carousel-inner">
                        @foreach (var group in Model.Select((product, index) => new { product, index }).GroupBy(x => x.index / 3))
                        {
                            <div class="carousel-item @(group.First().index == 0 ? "active" : "")">
                                <div class="row">

                                    @foreach (var item in group)
                                    {
                                        <div class="col-md-4 mb-3">
                                            <div class="card h-100">
                                                <a class="product_img_link" href="@Url.Action("ShowProduct", "Home", new { id = item.product.Id })">
                                                    @{
                                                        var productImageUrl = item.product.ProductImages?.FirstOrDefault();
                                                        if (productImageUrl != null)
                                                        {
                                                            <img class="img-fluid" alt="@item.product.Name" src="@productImageUrl.ImageUrl">
                                                        }
                                                        else
                                                        {
                                                            <img class="img-fluid" alt="No image available" src="../.././png/subcategory/default.webp">
                                                        }
                                                    }
                                                </a>
                                                <div class="card-body">
                                                    <h4 class="card-title">@item.product.Name</h4>
                                                    <p class="card-text">@item.product.Descriptions</p>
                                                    <p class="card-price">@item.product.Price.ToString() € </p>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
